li{
    display:flex;
    border: 1px solid blue;
    margin-bottom: 5px;
}
span{
    padding:4px;
}
button{
    padding: 5px;
    border:none;
    color:white;
    margin-right: 5px;
    border-radius: 5px;;
    width: 5vw;
    
}
.edit{
    background-color: cadetblue;
}
.delete{
    background-color: #fd5454;
}