.functionality-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}
.list {
  margin-top: 20px;
}
.list-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px;
}

li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

li:last-child {
  border-bottom: none;
}

.functionality-name {
  font-weight: bold;
}

button {
  padding: 10px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
button:first-child {
  background-color: #739df7;
}
button:nth-child(2) {
  background-color: #45a049;
}
button:last-child {
  background-color: #f84343;
}

button:hover {
  background-color: #999;
  color: #fff;
}
