.functionality-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.list-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px;
}

li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

li:last-child {
  border-bottom: none;
}

.functionality-name {
  font-weight: bold;
}

button {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #999;
  color: #fff;
}
