// Colors
$green__color: #76d597;
$violet__color: #a2a3f5;
$red__color: #ee6e6a;
$yellow__color: #f6c172;
$orange__color: #f3a47f;
$blue__color: #79d5fa;

$background__color: #fcfcfc;
$card_title__color: #6c6e78;
$card_subtitle__color: #bbbbc4;
$actions__color: #6a9cf8;
$font__color: #4c4e5a;