<app-card-component>
  <div class="conteiner">
    <div class="header-component">
      <h4 class="title">Net Income</h4>
      <div class="input-container">
        <select name="">
          <option value="Monthly">Monthly</option>
        </select>
        <select name="">
          <option value="LastYear">Last Year</option>
        </select>
      </div>
    </div>
    <p class="avg-text">Avg. $5,309</p>
    <img src="../../assets/net-income.png" alt="" class="chart">
  </div>
</app-card-component>
